body {
  /* box-sizing: border-box; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #2c2c2c;
}

.App {
  text-align: center;
}
h1 {
  font-size: 2rem;
  line-height: 1.5rem;
}

.app-canvas {
  width: 990px;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  padding: 2rem 0;
  align-items: left;
  justify-content: center;
  text-align: left;
  background-color: #ffffff;
}

.income-expense-input-canvas,
.budget-overview-canvas,
.budget-month-canvas {
  background-color: #ffffff;
  padding: 2rem;
  border: 0.5rem solid #00374b;
  border-radius: 0.5rem;
  margin: 1rem 0;
  height: 100%;
}

.budget-month-canvas invalid {
  visibility: hidden;
}

.budget-overview-canvas {
  padding-bottom: 7rem;
}

.income-expense-input-canvas .incexp-label,
.budget-overview-canvas .budget-label {
  margin: 0.5rem 0;
}

.income-expense-input-canvas .incexp-radio,
.income-expense-input-canvas .incexp-dropdown-categories,
.income-expense-input-canvas .incexp-input-type,
.income-expense-input-canvas .incexp-input-amount,
.income-expense-input-canvas .incexp-input-date {
  margin-bottom: 1rem;
}

.income-expense-input-canvas .incexp__inner,
.budget-overview-canvas .budget-year-select .budget__inner {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.income-expense-input-canvas .incexp__inner #category-select,
.income-expense-input-canvas .incexp__inner #type-input,
.income-expense-input-canvas .incexp__inner #amount-input,
.income-expense-input-canvas .incexp__inner #date-input,
.budget-overview-canvas .budget-year-select #year-select {
  width: 50%;
  height: 1.5rem;
  font-size: 14px;
  color: #2c2c2c;
}

.income-expense-input-canvas .incexp-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.income-expense-input-canvas .incexp-button .button {
  margin: 1.5rem 0 0 0;
  border: none;
  padding: 1rem;
  font-size: 1rem;
}

.income-expense-input-canvas .incexp-button .button:hover {
  cursor: pointer;
}

.income-expense-input-canvas .incexp-button #submit {
  background-color: #00374b;
  color: #ffffff;
}

.income-expense-input-canvas .incexp-button #submit:hover {
  background-color: #005270;
}

.income-expense-input-canvas .incexp-button #cancel {
  background-color: #cecece;
  color: #2c2c2c;
}

.income-expense-input-canvas .incexp-button #cancel:hover {
  background-color: #dddddd;
}

@media only screen and (max-width: 767px) {
  .income-expense-input-canvas .incexp__inner #category-select,
  .income-expense-input-canvas .incexp__inner #type-input,
  .income-expense-input-canvas .incexp__inner #amount-input,
  .income-expense-input-canvas .incexp__inner #date-input,
  .budget-overview-canvas .budget-year-select #year-select {
    width: 100%;
  }
  .income-expense-input-canvas .incexp-button {
    flex-direction: column;
  }
  .income-expense-input-canvas .incexp-button .button {
    padding: 1.5rem;
  }
}

.budget-overview-canvas .chart-overview {
  width: 100%;
  padding: 1rem 0;
  border-radius: 12px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 14rem;
}

.budget-overview-canvas .chart-overview .chart-bar {
  height: 100%;
}

.budget-overview-canvas .chart-overview .chart-bar__inner {
  min-width: 25px;
  height: 100%;
  width: 100%;
  border: 1px solid #2c2c2c;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.budget-overview-canvas .chart-overview .chart-bar__label {
  margin-bottom: 1rem;
}

.budget-overview-canvas .chart-overview .chart-bar__fill {
  background-color: #00374b;
  transition: all 0.3s ease-out;
}

.budget-overview-canvas .chart-overview .chart-bar__proportion {
  margin-top: 1rem;
  font-size: 10px;
  color: #2c2c2c;
}

.budget-overview-canvas .chart-bar__proportion__button {
  background-color: #00374b;
  color: #ffffff;
  font-size: 10px;
  border: none;
  padding: 7px 5px;
  margin-top: 1rem;
}

.budget-month-canvas .budget-month-container {
  display: flex;
}

.budget-month-canvas .budget-month-container .budget-income-month-container,
.budget-month-canvas .budget-month-container .budget-expense-month-container {
  width: 45%;
  padding-right: 5%;
}

.budget-month-canvas .budget-income-month-categories,
.budget-month-canvas .budget-expense-month-categories {
  margin-bottom: 2rem;
}

.budget-month-canvas .budget-month-container .budget-expense-month-category,
.budget-month-canvas .budget-month-container .budget-income-month-category {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5rem;
}

.budget-month-canvas .budget-expense-month-category-single,
.budget-month-canvas .budget-income-month-category-single,
.budget-month-canvas .budget-income-month-total,
.budget-month-canvas .budget-expense-month-total {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  justify-content: space-between;
}

.budget-income-month-category-single-title,
.budget-expense-month-category-single-title {
  padding: 0 5%;
}

.budget-month-canvas .budget-income-month-total,
.budget-month-canvas .budget-expense-month-total {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5rem;
}

.budget-month-canvas .budget-month-total {
  margin: 4rem 0 0rem 0;
  font-size: 18px;
  line-height: 1.5rem;
  text-align: center;
}

.budget-month-canvas .budget-month-total .budget-month-positive-total {
  font-weight: 600;
}

.budget-month-canvas .budget-month-total .budget-month-negative-total {
  font-weight: 600;
  color: #8a0000;
}

.no-data-available {
  margin-top: 1rem;
}
